@import 'tailwindcss';

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	background-color: #0f172a;
	display: flex;
	justify-content: center;
	align-items: center;
}
